.App {
  text-align: center;
}

.navigation {
  color: white !important;
}

.ig {
  color: red;
}

.heading-span {
  background-color: #0076a3d1;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.dropdown-item {
    background-color: #0075a3b0 !important;
    color: white !important;
}

.dropdown-menu {
  background-color: #68e90c2b !important;
}


.navbar {
    background-color: #e41616a6 !important;
}

.emphasis {
  color:#e41616 !important;
}

.navbar > .bg-dark {
  background-color: #cb0926 !important;
}
.navbar {
  position: relative;
  display: flex;
  background-color: #e90c0cc4;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.list-group-item {
  position: relative;
  display: block;
  color: white;
  padding: .75rem 1.25rem;
  background-color: #2887a126 !important;
  border: 1px solid rgba(0,0,0,.125);
}

.text {
  background-color: #167b9b61 !important;
  color: white !important;
  text-align: center;
}
Form {
  color: white !important;
}

.label {
  color: white !important;
}

.form-control:focus {
  color: white !important;
  background-color: #19afca6b !important;
  border-color: #80bdff !important;
  outline: 0;
}

.form-control {
  color: white !important;
  background-color: #19afca6b !important;
  border-color: white !important;
  outline: 0;
}

a {
  color: white !important;
}

.insta {
  color: white;
}

.jumbotron {
  background-image: url("./inno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 8px solid #ffffffb5;
  border-top: 8px solid #ffffffa6;
}
.notice-is {
  /* background-image: url("./is.jpg"); */
  background-color: black !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #f7e300;
  border-top: 8px solid #0077a2;
}

.display-3 {
  letter-spacing: 20px !important;
}

.notice-one {
  /* background-image: url("./bg1.jpg"); */
  background-color: #000000cc !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #f7e300;
  border-top: 8px solid #0077a2;
  border-radius: 0px !important;
}
.notice-sponsor {
  /* background-image: url("./sponsor.jpg"); */
  background-color: black !important; 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #4200f79f;
  border-top: 8px solid #a20d00;
  border-radius: 0px !important;
}
.notice-inno {
  /* background-image: url("./inno.jpg"); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #f7e300;
  border-top: 8px solid #0077a2;
  border-radius: 0px !important;
}
.notice-two {
  /* background-image: url("./bg2.jpg"); */
  background-color: #000000cc !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  border-bottom: 8px solid #f7e300;
  border-top: 8px solid #0077a2;
  border-radius: 0px !important;
}
body {
  background-image: url("./bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.profile-pic {
  padding: 20px;
  border-radius: 100px;
  margin-right: 10px;
}

.Media {
  border-bottom: 2px solid #0076a3;
}

.footer-text {
  color: white;
  font-family: Arial Black;
  font-size: 28px;
}

h1 {
  color: white !important;
}
.h1:hover{
  text-decoration: underline !important;
}
.heading-horizon {
  background-color: #e80c0cf2;
  height: 6px;
  width: 200px;
}

.lead {
  color: #f9fbfc;
  font-variant-caps: all-petite-caps;
}
.team {
  text-align: left;
}

.list-g {
  border-top: 6px solid #d0092b !important;
}


.card-header {
  color: white;
  background-color: rgb(208 0 39 / 98%) !important;
  border-bottom: 6px solid rgb(0 0 0 / 98%) !important;
}

.card-footer {
  color: white;
  font-weight: bold;
  background-color: rgb(208 0 39 / 98%) !important;
  border-top: 6px solid rgb(0 0 0 / 98%) !important;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .display-3 {
    letter-spacing: 4px !important;
    font-size: 2.5rem !important;
  }
  .card {
    margin: 10px !important;
  }
  
}